@import url(https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap);

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

body {
    color: #fff;
    background-color: #1a2027;

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}