@import '/src/styles/utils/colors.module.scss';

.wrap {
    display: grid;
    row-gap: 1.5rem;

    .img {
        width: 320px;
        height: 160px;
    }

    .title {
        font: inherit;
        color: $primary;
    }
}